<div class="contactPanel">
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header p-0">
          <h5 class="offcanvas-title" id="offcanvasBottomLabel">Contactar con Samuel</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Asunto</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Oferta de Trabajo">
              </div>
              <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>