<div class="about">
    <div class="card mb-3" >
      <div class="d-flex justify-content-end">
        <a type="button" class="btn-right" data-bs-toggle="modal" data-bs-target="#editAboutPanel" style="display: block;">
          <i class="fa fa-pen fa-xl"></i>
        </a>
      </div>
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center mb-2 mt-2 image-cropper">
              <img src="{{profile.img}}" 
            alt="Foto de Perfil">
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{profile.name}}</h5>
                <p>{{profile.about}}</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            </div>
          </div>
        </div>
    </div>   
</div>

<!-- Modal -->
<div class="modal fade" id="editAboutPanel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="fotoPerfil ps-3 pe-3 pt-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Foto</label>
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>
      </div>
      <div class="nombre ps-3 pe-3">
        <form class="form-floating">
          <input type="email" class="form-control" id="floatingInputValue" placeholder="pepito" [attr.value]="profile.name">
          <label for="floatingInputValue">Nombre completo</label>
        </form>
      </div>
      <div class="sobreMi">
        <div class="modal-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
            >{{profile.about}}</textarea>
            <label for="floatingTextarea2">Sobre mi</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>