<div id="Education" class="education fs-3">
    <div class="Titulo">
        <div class="d-inline-flex">
          <a href="#" class="btn-right" data-bs-toggle="modal" data-bs-target="#editWorkPanel" style="display: block;">
            <i class="fa fa-pen"></i>
          </a>
        </div>
        EDUCACIÓN
        <div class="d-inline-flex">
          <a class="btn-right" data-bs-toggle="modal" data-bs-target="#addEducationPanel" style="display: block;">
            <i class="fa fa-plus"></i>
          </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let educations of eduList">
        <div class="card">
          <img src="{{educations[2]}}" 
          class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{educations[0]}}</h5>
            <p class="card-text">{{educations[1]}}</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Add-->
<div class="modal fade" id="addEducationPanel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Institucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="photo">
        <div class="nombre p-3">
          <form class="form-floating">
            <input type="email" class="form-control" placeholder="pepito" [attr.value]="">
            <label>URL de la Foto</label>
          </form>
        </div>
      </div>
      <div class="name">
        <div class="nombre p-3">
          <form class="form-floating">
            <input type="email" class="form-control" placeholder="pepito" [attr.value]="">
            <label>Nombre de la Institucion</label>
          </form>
        </div>
      </div>
      <div class="description">
        <div class="modal-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Descripcion</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="addEducation()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editEducationPanel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Modificar Institucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="photo">
        <div class="nombre p-3">
          <form class="form-floating">
            <input type="email" class="form-control" placeholder="pepito" [attr.value]="">
            <label>URL de la Foto</label>
          </form>
        </div>
      </div>
      <div class="name">
        <div class="nombre p-3">
          <form class="form-floating">
            <input type="email" class="form-control" placeholder="pepito" [attr.value]="">
            <label>Nombre de la Institucion</label>
          </form>
        </div>
      </div>
      <div class="description">
        <div class="modal-body">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 100px"
            ></textarea>
            <label for="floatingTextarea2">Descripcion</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="addEducation()">Guardar</button>
      </div>
    </div>
  </div>
</div>