<div id="Education" class="education fs-3">
    <div class="Titulo">
        <div class="d-inline-flex">
          <a *ngIf="userLoginOn" class="btn-right" data-bs-toggle="modal" data-bs-target="#modaPanel" style="display: block;" (click)="changeAction(2)">
            <i class="fa fa-pen"></i>
          </a>
        </div>
        EDUCACIÓN
        <div class="d-inline-flex">
          <a *ngIf="userLoginOn" class="btn-right" data-bs-toggle="modal" data-bs-target="#modaPanel" style="display: block;" (click)="changeAction(1)">
            <i class="fa fa-plus"></i>
          </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let educations of eduList">
        <div class="card">
          <div class="d-flex justify-content-end">
            <a *ngIf="userLoginOn" type="button" class="btn btn-danger delete-btn" (click)="deleteInstitution(educations.id)"><i class="fa fa-trash"></i></a>
          </div>
          <img src="{{educations.foto}}" 
          class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{educations.institucion}}</h5>
            <h6 class="fecha">desde {{educations.fecha_ingreso}} hasta {{educations.fecha_egreso}}</h6>
            <p class="card-text fs-5">{{educations.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modaPanel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="action == 1" class="modal-title" >Añadir Institucion</h5>
        <h5 *ngIf="action == 2" class="modal-title" >Editar Institucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearInstitution()"></button>
      </div>

      <div class="modal-body" [formGroup]="educationForm">

        <div *ngIf="action == 2" class="seleccion p-3">
          <select id="selectEdu" #selectEdu class="form-select form-select-sm" aria-label=".form-select-sm example" (click)="selectedMenu(selectEdu.value)">
            <option value = "-1" selected>Seleccionar Institucion</option>
            <option *ngFor="let option of eduList; index as i" type="number" value="{{i}}">{{option.institucion}}</option>
          </select>
        </div>

        <div class="photo">
          <div class="nombre p-3">
            <div class="form-floating">
              <input formControlName="foto" type="text" #fotoi class="form-control" placeholder="pepito" [(ngModel)]="Institution.foto">
              <label>URL de la Foto</label>
            </div>

            <div *ngIf="foto.invalid && (foto.dirty || foto.touched)" class="text-danger">
              <div *ngIf="foto.errors?.['required']">
                El link de la foto es requerido.
              </div>
            </div>

          </div>
        </div>

        <div class="name">
          <div class="nombre p-3">
            <div class="form-floating">
              <input formControlName="institucion" type="text" class="form-control" placeholder="pepito" [(ngModel)]="Institution.institucion">
              <label for="namei">Nombre de la Institucion</label>
            </div>

            <div *ngIf="institucion.invalid && (institucion.dirty || institucion.touched)" class="text-danger">
              <div *ngIf="institucion.errors?.['required']">
                El nombre de la institucion es requerido.
              </div>
            </div>

          </div>
        </div>

        <div class="date">
          <div class="fechas p-3">
            <div class="ingreso me-5 d-inline-flex">
              <div class="form-floating">
                <input formControlName="fechai" type="date" class="form-control" name="ingreso" [(ngModel)]="Institution.fecha_ingreso">
                <label for="fechai">Fecha de ingreso</label>
              </div>

              <div *ngIf="fechai.invalid && (fechai.dirty || fechai.touched)" class="text-danger">
                <div *ngIf="fechai.errors?.['required']">
                  La fecha de ingreso es requerida.
                </div>
              </div>

            </div>
            <div class="egreso d-inline-flex">
              <div class="form-floating">
                <input formControlName="fechae" type="date" class="form-control" name="egreso" [(ngModel)]="Institution.fecha_egreso">
                <label for="fechae">Fecha de egreso</label>
              </div>

              <div *ngIf="fechae.invalid && (fechae.dirty || fechae.touched)" class="text-danger">
                <div *ngIf="fechae.errors?.['required']">
                  La fecha de egreso es requerida.
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="description">
            <div class="form-floating">
              <textarea formControlName="descripcion" class="form-control" placeholder="Leave a comment here"  style="height: 100px" [(ngModel)]="Institution.descripcion"
              ></textarea>
              <label for="desci">Descripcion</label>
            </div>

            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
              <div *ngIf="descripcion.errors?.['required']">
                La descripcion es requerida.
              </div>
            </div>

        </div>

      </div>  

      <div class="modal-footer">
        <button id="close_FormEducation" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearInstitution()">Cerrar</button>
        <button *ngIf="action == 1" type="button" class="btn btn-primary" (click)="addInstitution()">Agregar</button>
        <button *ngIf="action == 2" type="button" class="btn btn-primary" (click)="editInstitution()">Editar</button>
      </div>
    </div>
  </div>
</div>