.footer{
    background-color: black;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 1px 1px 30px black;
}

.footer .card {
    background-color: black;
    color: white;
}