<div class="footer d-flex justify-content-center align-items-center mt-2">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Informacion</h5>
                <p class="card-text">
                Informacion adicional 
                sobre mi y intereses laborales.
                </p>
                <a class="btn btn-primary" (click)="inConstruction()">Click aqui</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Contacto</h5>
                <p class="card-text">
                Enviar un mail de contacto con fines laborales
                y productivos.
                </p>
                <a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" (click)="inConstruction()">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Redes sociales</h5>
                <p class="card-text">
                Redes adicionales personales si gustas seguirme.
                </p>
                <a href="https://github.com/LooneYiSG"><i class="fa fa-github fa-2xl me-2"></i></a>
                <a href="https://www.instagram.com/samuelv_chino/"><i class="fa fa-instagram fa-2xl me-2"></i></a>
                <a href="https://www.linkedin.com/in/samuel-verazay-42439b262/"><i class="fa fa-linkedin fa-2xl"></i></a>
            </div>
        </div>
    </div>
</div>
